a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
























































































    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {












    display: block;
}

body {
    line-height: 1;
}

ol, ul {

    list-style: none;
}

blockquote, q {

    quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {


    content: "";
    content: none;
}






table {
    border-collapse: collapse;
    border-spacing: 0;
}



































































@font-face {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    src: url(fonts/OpenSans-Regular.eot);

    src: local("Open Sans"),local("OpenSans"),url(fonts/OpenSans-Regular.eot?#iefix) format("embedded-opentype"),url(fonts/OpenSans-Regular.woff2) format("woff2"),url(fonts/OpenSans-Regular.woff) format("woff"),url(fonts/OpenSans-Regular.ttf) format("truetype"),url(fonts/OpenSans-Regular.svg#OpenSans) format("svg");

}

@font-face {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    src: url(fonts/OpenSans-Light.eot);

    src: local("Open Sans"),local("OpenSans"),url(fonts/OpenSans-Light.eot?#iefix) format("embedded-opentype"),url(fonts/OpenSans-Light.woff2) format("woff2"),url(fonts/OpenSans-Light.woff) format("woff"),url(fonts/OpenSans-Light.ttf) format("truetype"),url(fonts/OpenSans-Light.svg#OpenSans) format("svg");

}

@font-face {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    src: url(fonts/OpenSans-Semibold.eot);

    src: local("Open Sans"),local("OpenSans"),url(fonts/OpenSans-Semibold.eot?#iefix) format("embedded-opentype"),url(fonts/OpenSans-Semibold.woff2) format("woff2"),url(fonts/OpenSans-Semibold.woff) format("woff"),url(fonts/OpenSans-Semibold.ttf) format("truetype"),url(fonts/OpenSans-Semibold.svg#OpenSans) format("svg");

}

@font-face {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    src: url(fonts/OpenSans-Bold.eot);

    src: local("Open Sans"),local("OpenSans"),url(fonts/OpenSans-Bold.eot?#iefix) format("embedded-opentype"),url(fonts/OpenSans-Bold.woff2) format("woff2"),url(fonts/OpenSans-Bold.woff) format("woff"),url(fonts/OpenSans-Bold.ttf) format("truetype"),url(fonts/OpenSans-Bold.svg#OpenSans) format("svg");

}

@font-face {
    font-family: apart-bcee-snet;
    src: url(fonts/apart-bcee-snet.eot);
    src: url(fonts/apart-bcee-snet.eot) format("embedded-opentype"),url(fonts/apart-bcee-snet.ttf) format("truetype"),url(fonts/apart-bcee-snet.woff) format("woff"),url(fonts/apart-bcee-snet.svg) format("svg");
    font-weight: 400;
    font-style: normal;
}

.bcee-icon {

    font-family: apart-bcee-snet !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bcee-icon:before {
    position: relative;
    top: -1px;
}

.bcee-ab-edit:before {
    font-size: 22px;
    content: "\e92b";
}

.bcee-ab-lock:before {
    font-size: 22px;
    content: "\e92f";
}

.bcee-ab-unblock:before {
    font-size: 22px;
    content: "\e930";
}

.bcee-ab-skype:before {
    font-size: 22px;
    content: "\e931";
}

.bcee-notif-session:before {
    font-size: 22px;
    content: "\e932";
}

.bcee-ab-refund-big:before {
    font-size: 32px;
    content: "\e933";
}

.bcee-nav-store:before {
    font-size: 22px;
    content: "\e934";
}

.bcee-ab-minus:before {
    font-size: 22px;
    content: "\e92d";
}

.bcee-ab-plus:before {
    font-size: 22px;
    content: "\e92e";
}

.bcee-ab-list:before {
    font-size: 22px;
    content: "\e926";
}

.bcee-ab-minus-big:before {
    font-size: 32px;
    content: "\e927";
}

.bcee-ab-heatmap:before {
    font-size: 22px;
    content: "\e929";
}

.bcee-icon-minus:before {
    font-size: 16px;
    content: "\e92a";
}

.bcee-icon-instr-financ:before {
    font-size: 16px;
    content: "\e928";
}

.bcee-ab-attach:before {
    font-size: 22px;
    content: "\e922";
}

.bcee-ab-document-data:before {
    font-size: 22px;
    content: "\e924";
}

.bcee-icon-close:before {
    font-size: 16px;
    content: "\e923";
}

.bcee-ab-plus-big:before {
    font-size: 32px;
    content: "\e900";
}

.bcee-ab-filter-big:before {
    font-size: 32px;
    content: "\e919";
}

.bcee-ab-write-big:before {
    font-size: 32px;
    content: "\e91a";
}

.bcee-icon-recurrent:before {
    font-size: 16px;
    content: "\e91b";
}

.bcee-icon-check:before {
    font-size: 16px;
    content: "\e901";
}

.bcee-icon-cross:before {
    font-size: 16px;
    content: "\e902";
}

.bcee-icon-plus:before {
    font-size: 16px;
    content: "\e903";
}

.bcee-icon-warn:before {
    font-size: 16px;
    content: "\e904";
}

.bcee-notif-warning:before {
    font-size: 22px;
    content: "\e921";
}

.bcee-ab-close:before {
    font-size: 22px;
    content: "\e91c";
}

.bcee-ab-mark-read:before {
    font-size: 22px;
    content: "\e91d";
}

.bcee-ab-recurrent:before {
    font-size: 22px;
    content: "\e91e";
}

.bcee-ab-filter:before {
    font-size: 22px;
    content: "\e91f";
}

.bcee-ab-arrow-down:before {
    font-size: 22px;
    content: "\e905";
}

.bcee-ab-arrow-left:before {
    font-size: 22px;
    content: "\e906";
}

.bcee-ab-arrow-right:before {
    font-size: 22px;
    content: "\e907";
}

.bcee-ab-arrow-up:before {
    font-size: 22px;
    content: "\e908";
}

.bcee-ab-calendar:before {
    font-size: 22px;
    content: "\e909";
}

.bcee-ab-chart:before {
    font-size: 22px;
    content: "\e90a";
}

.bcee-ab-document:before {
    font-size: 22px;
    content: "\e90b";
}

.bcee-ab-dots:before {
    font-size: 22px;
    content: "\e90c";
}

.bcee-ab-hamburger:before {
    font-size: 22px;
    content: "\e90d";
}

.bcee-ab-info:before {
    font-size: 22px;
    content: "\e90e";
}

.bcee-ab-print:before {
    font-size: 22px;
    content: "\e90f";
}

.bcee-ab-search:before {
    font-size: 22px;
    content: "\e910";
}

.bcee-ab-tick-down:before {
    font-size: 22px;
    content: "\e911";
}

.bcee-ab-tick-left:before {
    font-size: 22px;
    content: "\e912";
}

.bcee-ab-tick-right:before {
    font-size: 22px;
    content: "\e913";
}

.bcee-ab-tick-up:before {
    font-size: 22px;
    content: "\e914";
}

.bcee-ab-trash:before {
    font-size: 22px;
    content: "\e915";
}

.bcee-nav-bell:before {
    font-size: 22px;
    content: "\e916";
}

.bcee-nav-gear:before {
    font-size: 22px;
    content: "\e917";
}

.bcee-nav-off:before {
    font-size: 22px;
    content: "\e918";
}

.bcee-ab-write:before {
    font-size: 22px;
    content: "\e920";
}

BODY, HTML {


    margin: 0;
    padding: 0;
    font-family: Open Sans,sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    -webkit-font-smoothing: antialiased;
}

* {
    outline: none !important;
}

A {
    text-decoration: none;
    color: #de0000;
    margin: 0 3px;
    font-weight: 600;
}

A:hover {
    color: #c40000;
}

H1.margin-bottom, H2.margin-bottom, H3.margin-bottom, H4.margin-bottom, H5.margin-bottom, H6.margin-bottom {






    margin-bottom: 30px;
}

H1 {
    font-size: 34px;
    line-height: 1.8;
}

H2 {
    font-size: 28px;
}

H2, H3 {
    line-height: 1.6;
}

H3 {
    font-size: 20px;

}

H4 {
    font-size: 18px;
    line-height: 1.6;
}

P {
    margin: 10px 0;
    font-size: 16px;
    line-height: 1.4;
}

P.centered {
    text-align: center;
}

P.small {
    font-size: 14px;
}

::-webkit-input-placeholder {
    color: #d7d7d7;
    font-family: Open Sans,sans-serif;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=(100));
    opacity: 1;
}

:-moz-placeholder, ::-moz-placeholder {
    color: #d7d7d7;
    font-family: Open Sans,sans-serif;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=(100));
    opacity: 1;
}









:-ms-input-placeholder {
    color: #d7d7d7;
    font-family: Open Sans,sans-serif;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=(100));
    opacity: 1;
}

INPUT {
    outline: 0;
}

P.light {
    color: #a5abac;
}

.bcee-topbar {
    color: #fff;
    background: #003060;
    background-image: linear-gradient(45deg,#003060,#003060,#154093);

}

.bcee-topbar > UL {



    height: 48px;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
}

.bcee-topbar > UL > LI {
    float: right;
    position: relative;
    vertical-align: middle;
    line-height: 48px;
    text-align: center;
    padding: 0 20px;
}

.bcee-topbar > UL > LI > A > SPAN.topbarIcon, .bcee-topbar > UL > LI > SPAN.topbarIcon {

    display: inline-block;
    top: 5px;
    position: relative;
    color: #fff;
}


.bcee-topbar > UL > LI.logo, .bcee-topbar > UL > LI.today {
    text-align: left;
    float: left;
    padding: 0;
}

.bcee-topbar > UL > LI.logo {
    width: 250px;
    opacity: 1;
}

.bcee-topbar > UL > LI.logo .topbarIcon {
    background-image: url(media/logo-bcee.svg);
    width: 176px;
    height: 32px;
    top: 8px;
    left: 15px;
    background-repeat: no-repeat;
    background-size: cover;
}

.bcee-topbar > UL > LI.today {
    filter: alpha(opacity=60);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=(60));
    opacity: .6;
    padding: 0 10px;
    margin-left: 30px;
}




.bcee-topbar-snetconnect > UL {
  background-image: none;
}



.bcee-topbar .bcee-snet-connect {
  position: absolute;
  /*top: 50%;*/
  left: 50%;
  transform: translate(-50%, -0%);
}

.snetconnect-payment-message {
  font-size: 20px;
  font-weight: 600;
  color: black;
  text-align: center;
  margin: 10px auto 30px auto;
}
.bcee-dropdown-category {
  font-size: 16px;
  font-weight: 600;
  color: black;
  margin: 10px;
}
.bcee-header {
  position: relative;
  height: 120px;
}

.bcee-header .container .row {
    width: 100%;





}


















.bcee-header:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    height: 2px;
    background-color: #d7d7d7;
    z-index: -1;
}

.bcee-header .header-back {
    float: left;
    z-index: 2;
    margin-top: 31px;
    width: 35px;
}

.bcee-header .header-back .bcee-button-action {
    top: 9px;
    left: -21px;
}

.bcee-header .header-title {
    padding: 0 10px;
    float: left;
    background-color: #fff;
    margin-top: 50px;
    font-size: 16px;
}

.bcee-header .header-lang {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -120px;
}

.bcee-header .header-lang .single-lang {
    float: left;
    margin-top: 30px;
    margin-right: 30px;
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 30px;


    background-clip: padding-box;


    transition: border .2s;



    border: 2px solid #6683a0;
    background-color: #fff;
    cursor: pointer;
}

.bcee-header .header-lang .single-lang .lang-flag {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 40px;
    height: 40px;
    border-radius: 20px;


    background-clip: padding-box;


    overflow: hidden;
}

.bcee-header .header-lang .single-lang .lang-flag IMG {
    width: 100%;
    height: auto;
}

.bcee-header .header-lang .single-lang.active, .bcee-header .header-lang .single-lang:hover {

    border-color: #de0000;
}

.bcee-header .header-lang .single-lang:last-child {
    margin-right: 0;
}

.bcee-content {
    max-width: 1600px;
    margin: 30px auto 75px;
}

.bcee-footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #f7f7f7;
    padding: 30px 0;
    text-align: center;
}

.bcee-content-box {
    border: 3px solid #d7d7d7;
    background-color: #fff;
    padding: 40px 20px;
    margin: 20px 0;
}

.bcee-content-box P {
    line-height: 1.62;
}

.bcee-content-box .content-icon {
    margin: 0 auto;
    text-align: center;
}

.bcee-content-box .content-title {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    text-align: center;
    margin: 10px auto 30px;
}

.bcee-content-box.centered {
    text-align: center;
}

.bcee-content-box.important P {
    color: #de0000;
}

.bcee-icon-link-box {
    font-family: Open Sans,sans-serif;
    padding: 20px 40px 20px 50px;
    display: block;
    position: relative;
    margin: 0 -15px;
}

.bcee-icon-link-box A {
    display: block;
}

.bcee-icon-link-box:after {
    content: "";
    position: absolute;
    left: 50px;
    right: 15px;
    bottom: 0;
    border-bottom: 2px solid #d7d7d7;
}

.bcee-icon-link-box .link-icon {
    width: 35px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    margin: 0 0 10px;
}

.bcee-icon-link-box .link-title {
    color: #001f47;
    font-size: 18px;
    line-height: 1.56;
    font-weight: 600;
}

.bcee-icon-link-box .link-description {
    font-size: 16px;
    line-height: 1.5;
    color: #767b7c;
}

.bcee-icon-link-box .links {
    padding: 10px 0;
}

.bcee-icon-link-box .links .link-item {
    display: block;
    color: #de0000;
    font-family: Open Sans,sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    margin: 10px 0;
}

.bcee-icon-link-box .bcee-button-action {
    position: absolute;
    top: 50%;
    right: 0;
    border: 0;
    transform: translateY(-50%);




    bottom: -20px;
}

.bcee-icon-link-box .bcee-button-action.bcee-ab-arrow-right:before {
    content: "\e913";
}

.bcee-icon-link-box .bcee-button-action.active, .bcee-icon-link-box .bcee-button-action:hover {

    background-color: #fff;
    color: #de0000 !important;
}

.bcee-link-arrow {
    position: relative;
    overflow: hidden;
}

.bcee-link-arrow .link-label {
    color: #6683a0;
    font-weight: 700;
    transition: color .25s;



    padding-right: 26px;
}

.bcee-link-arrow .link-arrow {
    position: absolute;
    top: 50%;
    right: 0;
    transition: right .25s;



    margin-top: -11px;

    font-family: apart-bcee-snet !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #de0000;
}

.bcee-link-arrow .link-arrow:before {
    position: relative;
    top: -1px;
    font-size: 22px;
    content: "\e913";
}





.bcee-link-arrow.small {
    font-size: 12px;
}

.bcee-link-arrow.important .link-label {
    color: #de0000;
}

.bcee-link-arrow.dark .link-label {
    font-weight: 400;
    color: #000;
    font-size: 18px;
}

.bcee-link-arrow.dark .link-arrow {
    color: #a5abac;
}

.bcee-link-arrow:hover .link-label {
    color: #de0000;
}

.bcee-link-arrow:hover .link-arrow {
    right: -5px;
}

.bcee-link-arrow:hover.dark .link-label {
    color: #003060;
}

.bcee-info-dot {
    background-color: #6683a0;
    width: 16px;
    height: 16px;
    margin-left: 10px;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px;


    background-clip: padding-box;



    font-family: apart-bcee-snet !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: background-color .25s;



}

.bcee-info-dot:before {
    top: -1px;
    font-size: 22px;
    content: "\e90e";
    position: relative;
    top: 1px;
    color: #fff;
    font-size: 14px;

}











.bcee-info-dot.large {
    width: 22px;
    height: 22px;
    border-radius: 11px;


    background-clip: padding-box;


}

.bcee-info-dot.large:before {
    top: 3px;
    font-size: 16px;
}

.bcee-info-dot:hover {
    background-color: #516982;
}

.bcee-form-label {
    font-size: 12px;
    line-height: 1.4;

    font-weight: 600;
    color: #003060;
    padding-left: 10px;
}

.bcee-form-label.space-bottom {
    margin-bottom: 10px;
}

.bcee-form-label.no-padding {
    padding-left: 0;
}

.bcee-select-dropdown .select-container {
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    line-height: 18px;
    box-sizing: border-box;
    height: 50px;
    border: 0;
    border-bottom: 2px solid #d7d7d7;
    color: #000;
}

.bcee-select-dropdown .select-container .select-value {
    padding: 15px 10px;
    position: relative;
    z-index: 1;
    background-color: transparent;
}

.bcee-select-dropdown .select-container .select-arrow {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 0;

    font-family: apart-bcee-snet !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #6683a0;
}

.bcee-select-dropdown .select-container .select-arrow:before {
    position: relative;
    top: -1px;
    font-size: 22px;
    content: "\e911";
}





.bcee-select-dropdown .select-container .dropdown-menu {
    padding: 0;
    border: 0;
    right: 0;
    float: none;
    background-color: #fff;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.25);


    border-radius: 0;


    background-clip: padding-box;


    z-index: 100;
    outline: none;
    min-height: 20px;
}

.bcee-select-dropdown .select-container.open {
    border-color: #de0000;
}

.bcee-select-dropdown.disabled {
    background-color: #f7f7f7;
}

.bcee-select-dropdown.disabled .select-container {
    cursor: not-allowed;
    border-color: #f7f7f7;
}

.bcee-select-dropdown.disabled .select-container .select-value {
    color: #000;
}

.bcee-select-dropdown.disabled .select-container .select-arrow {
    color: #a5abac;
}

.bcee-section-item {
    display: table;
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid #ebebeb;
}

.bcee-section-item:hover {
    background-color: #f7f7f7;
}

.bcee-section-item .item-col {
    display: table-cell;
    vertical-align: top;
    padding: 15px 10px;
}

.bcee-section-item .item-col .item-description {
    line-height: 1.4;
    padding-top: 5px;
    font-size: 12px;
    color: #000;
}

.bcee-section-item .item-col .item-description.small {
    color: #767b7c;
}

.bcee-section-item .item-col .item-label {
    color: #000;
    font-size: 16px;
    line-height: 1.1;
}

.bcee-section-item .item-col .item-state {
    font-size: 18px;
}

.bcee-section-item .item-col .item-state.state-positive {
    color: #2a7;
}

.bcee-section-item .item-col .item-state.state-negative {
    color: #de0000;
}

.bcee-section-item .item-col .item-state.state-unknown {
    color: #f70;
}

.bcee-section-item .item-col.date {
    width: 99px;
    padding-top: 18px !important;
    padding-right: 0 !important;
    font-size: 12px;
    line-height: 1;
    color: #767b7c;
}

.bcee-section-item .item-col.right {
    text-align: right;
}

.bcee-section-item .item-col.middle {
    vertical-align: middle;
}

.bcee-section-item .item-col.bottom {
    vertical-align: bottom;
}

.bcee-section-item .item-col:last-child.date {
    padding-right: 13px !important;
}

.bcee-section-item.timeline {
    border-bottom: 0;
    width: 100%;
}

.bcee-section-item.timeline .item-col {
    padding-top: 15px;
}

.bcee-section-item.timeline .item-col.dot {
    width: 50px;
    position: relative;
    overflow: hidden;
}

.bcee-section-item.timeline .item-col.dot .bcee-partial-dot {
    position: absolute;
    border-color: #fff;
    z-index: 3;
    top: 10px;
    left: -1px;
}

.bcee-section-item.timeline .item-col.dot:before {
    content: "";
    position: absolute;
    top: 0;
    left: 15px;
    width: 2px;
    background-color: #d7d7d7;
    z-index: 1;
    height: 999em;
}

.bcee-section-item.timeline.open, .bcee-section-item.timeline:hover {

    background-color: #f7f7f7;
}

.bcee-section-item.timeline.open .item-col.dot .bcee-partial-dot, .bcee-section-item.timeline:hover .item-col.dot .bcee-partial-dot {

    border-color: #f7f7f7;
}

.bcee-section-item.timeline.open .item-col.dot .bcee-partial-dot.dot-selectable:after, .bcee-section-item.timeline:hover .item-col.dot .bcee-partial-dot.dot-selectable:after {

    border-color: #de0000;
}

.bcee-section-item.timeline.open.large {
    width: calc(200% + 30px);
}

.bcee-section-item.timeline.open .item-col {
    padding-top: 40px;
    vertical-align: top;
}

.bcee-section-item.timeline.open .item-col.date {
    color: #000;
    padding-top: 40px !important;
}

.bcee-section-item.timeline.open .item-col.dot {
    padding-top: 0;
}

.bcee-section-item.timeline.open .item-col.dot .bcee-partial-dot {
    top: 30px;
}

.bcee-section-item.timeline.small {
    width: 50%;
}

.bcee-section-item.timeline.unread .item-label {
    font-weight: 600;
}

.bcee-section-item .item-details .details-header {
    position: relative;
    z-index: 1;
}

.bcee-section-item .item-details .details-header:after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    right: -10px;
    border-bottom: 2px solid #d7d7d7;
    z-index: 0;
}

.bcee-section-item .item-details .details-header .header-icon {
    float: left;
    position: relative;
    top: -7px;
    z-index: 1;
    padding-right: 30px;
    background-color: #f7f7f7;
}

.bcee-section-item .item-details .details-header .header-description {
    z-index: 1;
    position: relative;
    display: inline-block;
    background-color: #f7f7f7;
    font-size: 16px;
    font-weight: 600;
    padding-right: 10px;
}

.bcee-section-item .item-details .details-header .header-description .description-title {
    line-height: 1.4;
}

.bcee-section-item .item-details .details-header .header-description .description-info {
    padding-top: 10px;
    color: #767b7c;
    font-size: 12px;
    font-weight: 400;
}

.bcee-section-item .item-details .details-header .header-actions {
    float: right;
    padding-right: 20px;
}

.bcee-section-item .item-details .details-header .header-actions .bcee-button-action, .bcee-section-item .item-details .details-header .header-actions .dropdown.dropdown-action {
    position: relative;
    z-index: 1;
    top: -11px;
    margin-left: 10px;
    float: left;
}








.bcee-section-item .item-details .details-header .header-actions .dropdown.dropdown-action .bcee-button-action {
    top: 0;
    margin-left: 0;
}

.bcee-section-item .item-details .details-content {
    margin: 50px 0 40px;
    display: table;
    width: 80%;
}

.bcee-section-item .item-details .details-content .content-title {
    color: #003060;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.4;
    text-transform: uppercase;
}

.bcee-section-item .item-details .details-content .content-description {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
}

.bcee-section-item .item-details .details-content .content-description.large {
    font-size: 32px;
}

.bcee-section-item .item-details .details-content .content-description.communication {
    width: 350px;
}

.bcee-section-item.subitem {
    border: 0;
    cursor: inherit;
    margin-bottom: 20px;
}

.bcee-section-item.subitem:hover {
    background-color: transparent;
}

























.btn.btn-lg {
    font-size: 20px;
    padding: 20px 48px;
}
















































.btn-green {
    background-color: #2a7;





}















.btn-light {

    background-color: #fff !important;
}














.btn-slim {


    padding: 20px 0;


}




















.bcee-list-title {
    font-weight: 300;
    font-size: 28px;
    line-height: 1.3;
    color: #003060;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 15px;
}

.bcee-list-title.no-margin-top {
    margin-top: 0;
}

.bcee-list-title.margin-bottom {
    margin-bottom: 40px;
}


















.alert .close {








    width: 40px;
    height: 100%;




}
































































































.alert.alert-disclaimer LI {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 5px;
}

.alert.alert-disclaimer LI:last-child {
    margin-bottom: 0;
}




.bcee-button-action {
    border: 2px solid #de0000;
    background-color: #fff;
    display: inline-block;
    position: relative;
    z-index: 1;
    width: 40px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    color: #de0000 !important;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all .1s;



}

.bcee-button-action > .bcee-icon {
    display: none;
}

.bcee-button-action .action-flag {
    display: block;
    position: absolute;
    right: -14px;
    top: -8px;
    min-width: 24px;
    height: 24px;
    background-color: #de0000;
    color: #fff;
    border-radius: 24px;


    background-clip: padding-box;


    line-height: 24px;
    font-family: Open Sans,sans-serif;
    font-size: 14px;
}

.bcee-button-action.large {
    width: 60px;
    height: 60px;
    line-height: 56px;
    border-radius: 30px;
}

.bcee-button-action.large .action-flag {
    min-width: 32px;
    height: 32px;
    line-height: 32px;
    right: -18px;
}

.bcee-button-action.light {
    border-color: #6683a0;
    color: #6683a0 !important;
}

.bcee-button-action.text {
    width: auto;
}

.bcee-button-action.text .button-text, .bcee-button-action.text .buttonText {

    font-family: Open Sans,sans-serif;
    text-transform: none;
    font-size: 12px;
    font-weight: 700;
    vertical-align: middle;
    display: inline-block;
    padding: 0 15px 0 35px;
    line-height: 22px;
    margin-left: 5px;
    position: relative;
    top: -2px;
    white-space: nowrap;
}

.bcee-button-action.text:before {
    position: absolute;
    left: 10px;
}

.bcee-button-action.loading {
    border: 0;
    color: #eb6768 !important;
    width: 40px;
    height: 40px;
    background: url(media/loaders/loader-40.png) 0;
    -webkit-animation: a 1.5s steps(25) infinite;
    -moz-animation: a 1.5s steps(25) infinite;
    -ms-animation: a 1.5s steps(25) infinite;
    -o-animation: a 1.5s steps(25) infinite;
    cursor: default;
}

.bcee-button-action.loading.large {
    width: 60px;
    height: 60px;
    background: url(media/loaders/loader-60.png) 0;
    -webkit-animation: b 1.5s steps(25) infinite;
    -moz-animation: b 1.5s steps(25) infinite;
    -ms-animation: b 1.5s steps(25) infinite;
    -o-animation: b 1.5s steps(25) infinite;
}

.bcee-button-action.loading:before {
    position: relative;
    top: 2px;
}

.bcee-button-action.grey {
    background-color: #a5abac;
    border-color: #a5abac;
    cursor: default;
}

.bcee-button-action.grey .button-text, .bcee-button-action.grey .buttonText {

    color: #fff;
    padding-left: 15px;
    font-weight: 600;
}

.bcee-button-action.grey.large .button-text, .bcee-button-action.grey.large .buttonText {

    font-size: 14px;
    padding-left: 24px;
    padding-right: 24px;
}

.bcee-button-action.grey:hover {
    background-color: #a5abac;
}

.bcee-button-action.active, .bcee-button-action:hover {

    background-color: #de0000;
    color: #fff !important;
}

.bcee-button-action.active.light, .bcee-button-action:hover.light {

    background-color: #6683a0;
}

.bcee-button-action.active.loading, .bcee-button-action:hover.loading {

    background-color: #fff;
    color: #eb6768 !important;
}

.bcee-button-action.active:hover {
    background-color: #c40000;
    border-color: #c40000;
}

.bcee-button-action.active:hover.light {
    background-color: #5b7692;
    border-color: #5b7692;
}


.bcee-button-action.disabled, .bcee-button-action[disabled] {
    cursor: default;
    color: #d7d7d7 !important;
    border-color: #d7d7d7 !important;
}

.bcee-button-action.disabled .action-flag, .bcee-button-action[disabled] .action-flag {

    display: none;
}

.bcee-button-action.disabled.grey, .bcee-button-action[disabled].grey {

    background-color: #d7d7d7;
}

.bcee-button-action.disabled.active, .bcee-button-action.disabled:hover, .bcee-button-action[disabled].active, .bcee-button-action[disabled]:hover {




    background: #fff !important;
    color: #d7d7d7 !important;
}

.bcee-button-action.disabled.active.grey, .bcee-button-action.disabled:hover.grey, .bcee-button-action[disabled].active.grey, .bcee-button-action[disabled]:hover.grey {




    background-color: #d7d7d7 !important;
}

.bcee-loader.xs {
    width: 40px;
    height: 40px;
    background: url(media/loaders/loader-40.png) 0;
    -webkit-animation: a 1.5s steps(25) infinite;
    -moz-animation: a 1.5s steps(25) infinite;
    -ms-animation: a 1.5s steps(25) infinite;
    -o-animation: a 1.5s steps(25) infinite;
}

.bcee-loader.sm {
    width: 60px;
    height: 60px;
    background: url(media/loaders/loader-60.png) 0;
    -webkit-animation: b 1.5s steps(25) infinite;
    -moz-animation: b 1.5s steps(25) infinite;
    -ms-animation: b 1.5s steps(25) infinite;
    -o-animation: b 1.5s steps(25) infinite;
}

.bcee-loader.md {
    width: 80px;
    height: 80px;
    background: url(media/loaders/loader-80.png) 0;
    -webkit-animation: c 1.5s steps(25) infinite;
    -moz-animation: c 1.5s steps(25) infinite;
    -ms-animation: c 1.5s steps(25) infinite;
    -o-animation: c 1.5s steps(25) infinite;
}

.bcee-loader.lg {
    width: 120px;
    height: 120px;
    background: url(media/loaders/loader-120.png) 0;
    -webkit-animation: d 1.5s steps(25) infinite;
    -moz-animation: d 1.5s steps(25) infinite;
    -ms-animation: d 1.5s steps(25) infinite;
    -o-animation: d 1.5s steps(25) infinite;
}

.bcee-loader.xl {
    width: 160px;
    height: 160px;
    background: url(media/loaders/loader-160.png) 0;
    -webkit-animation: e 1.5s steps(25) infinite;
    -moz-animation: e 1.5s steps(25) infinite;
    -ms-animation: e 1.5s steps(25) infinite;
    -o-animation: e 1.5s steps(25) infinite;
}

@keyframes a {
    to {

        background-position: -1000px;
    }

}

@keyframes b {
    to {

        background-position: -1500px;
    }

}

@keyframes c {
    to {

        background-position: -2000px;
    }

}

@keyframes d {
    to {

        background-position: -3000px;
    }

}

@keyframes e {
    to {

        background-position: -4000px;
    }

}

.bcee-frame {
    height: 715px;
    min-width: 380px;
    margin: 20px 0;
}

.bcee-frame .bcee-loader-panel {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);




}

.bcee-frame.loading .bcee-loader-panel {
    display: block;
}

.bcee-input {
    width: 100%;
    font-size: 18px;
    line-height: 18px;
    box-sizing: border-box;
    padding: 10px;
    height: 50px;
    border: 0;
    border-bottom: 2px solid #d7d7d7;
    background-color: transparent;
    color: #000;
}

.bcee-input:active, .bcee-input:focus {

    border-color: #de0000;
}

.bcee-input.small {
    font-size: 18px;
    line-height: 18px;
    height: 50px;
}

.bcee-input.large {
    font-size: 32px;
    line-height: 32px;
    height: 69px;
}

.bcee-input.bold {
    font-weight: 600;
}

.bcee-input.error {
    color: #de0000;
}

.bcee-input .disabled, .bcee-input[disabled], .bcee-input[readonly] {



    border-color: #f7f7f7 !important;
    background-color: #f7f7f7;
    color: #000;
    cursor: not-allowed;
}

.bcee-input:-ms-input-placeholder {
    color: #d7d7d7;
    font-family: Open Sans,sans-serif;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=(100));
    opacity: 1;
}

.bcee-input::-ms-clear {
    display: none;
}

.item-col-1 {
    width: 8.33333333%;
}

.item-col-2 {
    width: 16.66666667%;
}

.item-col-3 {
    width: 25%;
}

.item-col-4 {
    width: 33.33333333%;
}

.item-col-5 {
    width: 41.66666667%;
}

.item-col-6 {
    width: 50%;
}

.item-col-7 {
    width: 58.33333333%;
}

.item-col-8 {
    width: 66.66666667%;
}

.item-col-9 {
    width: 75%;
}

.item-col-10 {
    width: 83.33333333%;
}

.item-col-11 {
    width: 91.66666667%;
}

.item-col-12 {
    width: 100%;
}

.bcee-sticky-message {
    background-color: #de0000;
    min-height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.bcee-sticky-message .message-content {
    color: #fff;
    padding: 15px 40px;
    max-width: 1600px;
    margin: 0 auto;
    line-height: 1.4;
}

.bcee-sticky-message .message-content A {
    color: #fff;
    text-decoration: underline !important;
}


/* no more classic login -> 
   stick message to bottom */
/*.bcee-sticky-message.login {
    bottom: 74px;
}*/

.bcee-sticky-message.testing {
    position: relative;
}

.bcee-loader-panel {
    position: relative;
    margin: 0 auto;
    width: 62px;
    height: 62px;
}

.bcee-loader-panel:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.bcee-loader-panel .ab-bcee {
    position: absolute;
    top: 5.2px;
    bottom: 6.2px;
    left: 6.2px;
    right: 6.2px;
    width: 52px;
    height: 52px;
}

.bcee-loader-panel .circular {
    animation: f 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.bcee-loader-panel .circular .path {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;

    animation: g 2s infinite ease-in-out;
    stroke-linecap: round;
    stroke: #de0000;
}

.bcee-loader-panel .pathbg {
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

@keyframes f {
    to {

        transform: rotate(1turn);
    }

}

@keyframes g {
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
    }



    50% {
        stroke-dasharray: 100,200;
        stroke-dashoffset: -35px;
    }

    to {


        stroke-dasharray: 100,200;
        stroke-dashoffset: -175px;
    }

}

A {
    text-decoration: none !important;
}

.btn {
    border: 0;
    font-size: 18px;
    line-height: 1;
    padding: 17px 40px;
    position: relative;
    border-radius: 30px;



    background-clip: padding-box;

}

.btn .bcee-icon {
    position: relative;
    height: 10px;
    width: 10px;
    display: inline-block;
    right: 3px;
    top: -7px;
}

.btn .bcee-icon:before {
    position: absolute;
}

.btn.btn-lg {
    padding: 21px 48px;
}

.btn.btn-lg .bcee-icon {
    right: 3px;
    top: -6px;
}

.btn.btn-sm {
    font-size: 14px;
    padding: 10px 20px;
}

.btn.btn-xs {
    font-size: 12px;
    padding: 10px 15px;
}

.btn.disabled, .btn[disabled] {
    filter: alpha(opacity=40);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=(40));
    opacity: .4;
    cursor: default;
}

.btn-default, .btn-primary {
    color: #fff !important;
    background-color: #de0000;
    transition: background-color .15s;







}

.btn-default:active, .btn-default:focus, .btn-default:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:hover {





    background-color: #c40000 !important;
    box-shadow: none !important;
    outline: none !important;


}

.btn-default.disabled, .btn-default[disabled], .btn-primary.disabled, .btn-primary[disabled] {






    background-color: #de0000 !important;




}

.btn-primary {



    background: #de0000;
    background-image: linear-gradient(45deg,#de0000,#de0000,#b04);
}

.btn-green {
    background: #20af93;
    background-image: linear-gradient(45deg,#20af93,#20af93,#2a7);
    color: #fff;




    transition: background-color .15s;
}

.btn-green:active, .btn-green:focus, .btn-green:hover {



    color: #fff;
    background-color: #1e9568 !important;
    box-shadow: none !important;


    outline: none !important;
}


.btn-green.disabled, .btn-green[disabled] {
    background-color: #2a7 !important;
}

.btn-light {
    color: #6683a0;
    background-color: transparent !important;
}

.btn-light:active, .btn-light:focus, .btn-light:hover {



    box-shadow: none !important;


    outline: none !important;
    color: #003060;
}


.btn-light.disabled, .btn-light[disabled] {
    color: #6683a0;
}

.btn-slim {
    color: #de0000;
    background-color: transparent !important;
    padding: 24px 0 !important;



    font-size: 12px;
    font-weight: 700;
}

.btn-slim .bcee-icon {
    display: inline-block;
    top: 0;
    right: 0;
    width: 26px;
}

.btn-slim .bcee-icon:before {
    left: 0;
    top: -5px;
}

.btn-slim:active, .btn-slim:focus, .btn-slim:hover {



    box-shadow: none !important;


    outline: none !important;
    color: #c40000;
}

.btn-segment {
    color: #6683a0;
    font-size: 16px;
    border: 2px solid #6683a0;
    padding: 9px 16px;
    text-transform: none;
    text-align: center;
    display: inline-block;
    position: relative !important;
    z-index: 0;
    box-shadow: none !important;


    filter: alpha(opacity=100) !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
    filter: alpha(opacity=(100)) !important;
    opacity: 1 !important;
}

.btn-segment.active, .btn-segment:focus, .btn-segment:hover {



    color: #de0000;
    border-color: #de0000;
}

.btn-segment.disabled {
    border-color: #d7d7d7;
    color: #d7d7d7;
    z-index: -1 !important;
}

.btn-segment.bcee-icon {
    padding: 7px 9px;
    min-width: 0;
}

.btn-segment.bcee-icon:first-child {
    padding-left: 13px;
}

.btn-segment.bcee-icon:last-child {
    padding-right: 13px;
}

.btn-segment .segment-count {
    color: #de0000;
    padding-left: 5px;
}

.btn-grey {
    color: #fff !important;
    background-color: #6683a0;
    transition: background-color .15s;



}

.btn-grey:active, .btn-grey:focus, .btn-grey:hover {



    background-color: #5b7692 !important;
    box-shadow: none !important;


    outline: none !important;
}


.btn-grey.disabled, .btn-grey[disabled] {
    background-color: #5b7692 !important;
}

.btn-group {
    font-size: 0;
}

.btn-group .btn {
    background-color: #fff;
    font-size: 18px;
    margin-right: -1px;
    position: relative;
    z-index: 0;
    border-radius: 0;


    background-clip: padding-box;


}

.btn-group .btn:first-child {
    -webkit-border-top-left-radius: 30px;
    -webkit-border-bottom-left-radius: 30px;
    -moz-border-radius-topleft: 30px;
    -moz-border-radius-bottomleft: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    background-clip: padding-box;

}

.btn-group .btn:last-child {
    -webkit-border-top-right-radius: 30px;
    -webkit-border-bottom-right-radius: 30px;
    -moz-border-radius-topright: 30px;
    -moz-border-radius-bottomright: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

    background-clip: padding-box;

}

.btn-group .btn.active, .btn-group .btn:hover {


    z-index: 1;
}

.dropdown.dropdown-action {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.dropdown.dropdown-action .dropdown-menu {
    border-radius: 6px;


    background-clip: padding-box;

    background-color: #001f47;

    margin-top: 23px;
    min-width: 200px;
    font-family: Open Sans,sans-serif;
    color: #fff;
    text-transform: none;
    line-height: 1.4;
    font-size: 12px;
    font-weight: 700;
    text-align: left;
    padding: 10px 0;
    z-index: 100;
}

.dropdown.dropdown-action .dropdown-menu:before {
    content: "";
    position: absolute;
    top: -5px;
    left: 15px;
    margin-right: -5px;
    z-index: 99;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);




    background-color: #001f47;
}

.dropdown.dropdown-action .dropdown-menu.dropdown-menu-right:before {
    left: auto;
    right: 19px;
}

.dropdown.dropdown-action .dropdown-menu LI A {
    color: #a5abac;
    font-weight: 700;
    padding: 5px 10px;
    line-height: 22px;
}

.dropdown.dropdown-action .dropdown-menu LI A .bcee-icon {
    position: relative;
    top: 4px;
    margin-right: 10px;
}

.dropdown.dropdown-action .dropdown-menu LI A .bcee-partial-dot {
    border-color: #001f47;
}

.dropdown.dropdown-action .dropdown-menu LI A .bcee-partial-dot.dot-selectable {
    background-color: transparent;
}

.dropdown.dropdown-action .dropdown-menu LI A:active, .dropdown.dropdown-action .dropdown-menu LI A:focus, .dropdown.dropdown-action .dropdown-menu LI A:hover {



    color: #fff;
    background-color: #4f535f;
}

.dropdown.dropdown-action .dropdown-menu LI A:active .bcee-partial-dot, .dropdown.dropdown-action .dropdown-menu LI A:focus .bcee-partial-dot, .dropdown.dropdown-action .dropdown-menu LI A:hover .bcee-partial-dot {



    border-color: #4f535f;
}

.dropdown.dropdown-action .dropdown-menu LI A:active .bcee-partial-dot.dot-selectable:after, .dropdown.dropdown-action .dropdown-menu LI A:focus .bcee-partial-dot.dot-selectable:after, .dropdown.dropdown-action .dropdown-menu LI A:hover .bcee-partial-dot.dot-selectable:after {



    border-color: #de0000;
}

.dropdown.dropdown-action .dropdown-menu LI .btn {
    margin: 10px 10px 5px;
}

.dropdown.dropdown-action .dropdown-menu LI.divider {
    background-color: #4f535f;
}

.dropdown.dropdown-action .dropdown-menu LI.dropdown-header {
    padding: 20px 10px 5px 15px;
    color: #a5abac;
    text-transform: uppercase;
    font-size: 10px;
}

.dropdown.dropdown-action .dropdown-menu LI.disabled {
    filter: alpha(opacity=50);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=(50));
    opacity: .5;
}

.dropdown.dropdown-action.dropdown-calendar .dropdown-menu {
    width: 235px;
    padding: 0;
    padding-bottom: 15px;
}

.dropdown.dropdown-action.dropdown-calendar .dropdown-menu .bcee-button-action {
    background-color: #001f47;
    border-color: #4f535f;
    color: #a5abac !important;
    font-size: 13px;
    font-weight: 600;
    margin-right: 10px;
    text-transform: none;
}

.dropdown.dropdown-action.dropdown-calendar .dropdown-menu .bcee-button-action:last-child {
    margin-right: 0;
}

.dropdown.dropdown-action.dropdown-calendar .dropdown-menu .bcee-button-action:hover {
    border-color: #de0000;
    color: #fff !important;
}

.dropdown.dropdown-action.dropdown-calendar .dropdown-menu .bcee-button-action.active {
    background-color: #de0000;
    border-color: #de0000;
    color: #fff !important;
}

.dropdown.dropdown-action.dropdown-calendar .dropdown-menu .bcee-button-action.disabled {
    color: #4f535f !important;
    border-color: #434751 !important;
    background-color: #001f47;
}

.dropdown.dropdown-action.dropdown-calendar .dropdown-menu .bcee-button-action.disabled.active, .dropdown.dropdown-action.dropdown-calendar .dropdown-menu .bcee-button-action.disabled:hover {

    color: #4f535f !important;
    border-color: #434751;
    background-color: #001f47 !important;
}

.dropdown.dropdown-action.dropdown-calendar .dropdown-menu LI {
    padding: 15px 15px 0;
}

.dropdown.dropdown-action.dropdown-calendar .dropdown-menu LI.title {
    text-align: center;
}

.dropdown-backdrop {
    position: static;
}

.tooltip {
    color: #fff;
    font-family: Open Sans,sans-serif;
    font-weight: 700;
    font-size: 12px;
}

.tooltip .tooltip-inner {
    padding: 4px 8px;
}

.tooltip.preview {
    position: relative;
    display: inline-block;
    opacity: 1;
    margin-right: 20px;
}

.tooltip .tooltip-arrow {
    display: none;
}

.tooltip .tooltip-inner {
    background-color: rgba(35,41,56,.6);
}

.tooltip.left .tooltip-arrow {
    border-left-color: rgba(35,41,56,.6);
}

.tooltip.right .tooltip-arrow {
    border-right-color: rgba(35,41,56,.6);
}

.tooltip.top .tooltip-arrow {
    border-top-color: rgba(35,41,56,.6);
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: rgba(35,41,56,.6);
}

.alert {
    border: 0;
    border-radius: 0;


    background-clip: padding-box;


    position: relative;
    font-size: 18px;


    text-align: center;
    padding: 13px 20px 12px;
    background-color: #de0000;
    margin: 10px 0 20px;
}

.alert, .alert .close {
    line-height: 1.4;
    color: #fff;
}

.alert .close {
    position: absolute;
    right: 20px;
    top: 14px;

    text-shadow: none;
    outline: none;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=(100));
    opacity: 1;

    margin: -5px 0;
    padding: 5px 0;
    font-size: inherit;
    text-align: right;
}

.alert .close .bcee-icon {
    transition: all .25s;



    filter: alpha(opacity=60);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=(60));
    opacity: .6;
    display: inline-block;
}

.alert .close:hover .bcee-icon {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=(100));
    opacity: 1;


    transform: rotate(90deg);


}

.alert.alert-success {
    background-color: #2a7;
}

.alert.alert-info {
    background-color: #f7f7f7;
    color: #6683a0;
    text-align: left;
    font-size: 12px;
    line-height: 20px;
    padding-left: 55px;
}

.alert.alert-info > .bcee-info-dot {
    position: absolute;
    top: 15px;
    left: 20px;
}

.alert.alert-clause {
    background-color: #f7f7f7;
    color: #a5abac;
    text-align: left;
    font-size: 12px;
    line-height: 20px;
}

.alert.alert-warning {
    background-color: #f70;
}

.alert.alert-danger {
    background-color: #de0000;
}

.alert.alert-message {
    text-align: left;
    background-color: #f7f7f7;
    color: #000;
    padding-left: 10px;
}

.alert.alert-message > SPAN.bcee-icon {
    color: #de0000;
    position: relative;
    top: 4px;
    margin-right: 10px;
}

.alert.alert-message .close {
    color: #6683a0;
}

.alert.alert-message.accepted {
    background-color: #fdebeb;
    color: inherit;
    font-size: 18px;
    line-height: 1.4;
}

.alert.alert-message.accepted A {
    color: #de0000;
}

.alert.alert-message > .message-title {
    font-size: 18px;
    line-height: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}

.alert.alert-message > .bcee-form-checkbox {
    padding-bottom: 20px;
    color: inherit;
}

.alert.alert-message > .bcee-form-checkbox:last-child {
    padding-bottom: 4px;
}

.alert.alert-message A {
    color: #de0000;
}

.alert.alert-message A:hover {
    text-decoration: underline !important;
}

.alert.alert-disclaimer {
    background-color: transparent;
    color: #767b7c;
    text-align: left;
    font-size: 12px;
    line-height: 20px;
    padding: 20px;
}

.alert.alert-disclaimer .disclaimer-title {
    font-size: 12px;
    line-height: 32px;
    font-weight: 600;
    color: #000;
}

.alert.alert-dismissible {
    padding-right: 60px;
}

.alert.alert-icon {
    padding-left: 80px;
}

.alert.alert-icon .icon-container {
    position: absolute;
    top: 50%;
    left: 20px;
    margin-top: -11px;
}

.alert.align-left {
    text-align: left;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

select::-ms-expand {
    display: none;
}

SELECT.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0 !important;
    outline: none !important;

    box-shadow: none !important;

}

.table TH {
    border: 0 !important;
    text-transform: uppercase;
    color: #003060;
    font-size: 16px;
    padding: 27px 10px 17px !important;
}

.table TD {
    padding: 20px 10px !important;
    border-top: 0 !important;
    border-bottom: 1px solid #ebebeb;
    vertical-align: middle !important;
}

.table TD.value {
    text-align: right;
    font-size: 16px;
}

.table TD.option {
    color: #003060;
    font-size: 12px;
    font-weight: 600;
}

.table.info-list {
    margin-bottom: 30px;
}

.table.info-list TR:first-child TD {
    border-top: 2px solid #d7d7d7 !important;
}

.table.info-list TD {
    border-bottom: 2px solid #d7d7d7;
}

.table.info-list TD.value {
    text-align: left;
    font-size: 18px;
}

.modal .modal-dialog {
    width: 720px;
    margin: 160px auto 30px;
}

.modal .modal-dialog .modal-content {
    box-shadow: none !important;
    width: 720px;
    border: 0 !important;
}

.modal .modal-dialog .modal-content .modal-header {
    padding: 30px 30px 20px !important;
    border: 0 !important;
}

.modal .modal-dialog .modal-content .modal-header .modal-title {
    font-size: 28px;
    color: #003060;
    line-height: 1;
    font-weight: 300;
    padding-right: 30px;
}

.modal .modal-dialog .modal-content .modal-header .modal-title.title-warning {
    color: #f70;
}

.modal .modal-dialog .modal-content .modal-header .modal-title.title-error {
    color: #de0000;
}

.modal .modal-dialog .modal-content .modal-header .modal-title.title-success {
    color: #2a7;
}

.modal .modal-dialog .modal-content .modal-header .modal-title .bcee-icon {
    line-height: 32px;
    margin-right: 15px;
}

.modal .modal-dialog .modal-content .modal-header .close {
    color: #6683a0;
    filter: alpha(opacity=100) !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
    filter: alpha(opacity=(100)) !important;
    opacity: 1 !important;
}

.modal .modal-dialog .modal-content .modal-header .close .bcee-icon {
    margin-top: 8px;
    width: 16px;
    height: 16px;
    display: block;
    transition: all .25s;



    position: relative;
}

.modal .modal-dialog .modal-content .modal-header .close .bcee-icon:before {
    position: absolute;
    top: 0;
    left: 0;
}

.modal .modal-dialog .modal-content .modal-header .close:hover {
    color: #de0000;
}

.modal .modal-dialog .modal-content .modal-header .close:hover .bcee-icon {


    transform: rotate(90deg);


}

.modal .modal-dialog .modal-content .modal-info {
    position: relative;
    padding: 20px 30px 20px 55px !important;
    background-color: #f7f7f7;
    color: #6683a0;
    text-align: left;
    font-size: 12px;
    line-height: 20px;
}

.modal .modal-dialog .modal-content .modal-info > .bcee-info-dot {
    position: absolute;
    top: 20px;
    left: 20px;
}

.modal .modal-dialog .modal-content .modal-actions {
    height: 40px;
    position: relative;
    text-align: right;
}

.modal .modal-dialog .modal-content .modal-actions:after {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #d7d7d7;
}

.modal .modal-dialog .modal-content .modal-actions .bcee-button-action {
    margin-right: 10px;
}

.modal .modal-dialog .modal-content .modal-actions .bcee-button-action:last-child {
    margin-right: 30px;
}

.modal .modal-dialog .modal-content .modal-body {
    padding: 30px !important;
}

.modal .modal-dialog .modal-content .modal-body P.light {
    font-size: 14px;
}

.modal .modal-dialog .modal-content .modal-body .modal-request {
    margin: 30px -30px;
    background-color: #fce6e6;
    padding: 20px 30px;
}

.modal .modal-dialog .modal-content .modal-body .modal-request.accepted {
    background-color: #f7f7f7;
}

.modal .modal-dialog .modal-content .modal-body .modal-icon-list {
    background-color: #f7f7f7;
    padding: 30px;
    margin: 40px 0;
}

.modal .modal-dialog .modal-content .modal-body .modal-icon-list .list-item {
    display: table;
    margin-bottom: 45px;
}

.modal .modal-dialog .modal-content .modal-body .modal-icon-list .list-item:last-child {
    margin-bottom: 0;
}


.modal .modal-dialog .modal-content .modal-body .modal-icon-list .list-item .item-icon, .modal .modal-dialog .modal-content .modal-body .modal-icon-list .list-item .item-information {
    display: table-cell;
    vertical-align: middle;
}

.modal .modal-dialog .modal-content .modal-body .modal-icon-list .list-item .item-icon {
    width: 90px;
}

.modal .modal-dialog .modal-content .modal-body .modal-icon-list .list-item .item-title {
    color: #003060;
    font-size: 22px;
    line-height: 29px;
}

.modal .modal-dialog .modal-content .modal-body .modal-icon-list .list-item .item-description {
    color: #a5abac;
    font-size: 18px;
    line-height: 24px;
}

.modal .modal-dialog .modal-content .modal-body .modal-icon-list.list-no-spacing {
    margin: 0;
}

.modal .modal-dialog .modal-content .modal-body .modal-icon-list.list-horizontal .list-item {
    display: block;
}


.modal .modal-dialog .modal-content .modal-body .modal-icon-list.list-horizontal .list-item .item-icon, .modal .modal-dialog .modal-content .modal-body .modal-icon-list.list-horizontal .list-item .item-information {
    width: auto;
    display: block;
    text-align: center;
    margin: 15px 0;
}

.modal .modal-dialog .modal-content .modal-footer {
    padding: 0 30px 30px !important;
    border: 0 !important;
}

.modal .modal-dialog .modal-content .modal-footer .bcee-link-arrow {
    height: 60px;
    line-height: 60px;
}

.modal .modal-dialog .modal-content .modal-sending {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: hsla(0,0%,100%,.6);
    border-radius: 6px;


    background-clip: padding-box;


    z-index: 999;
}

.modal .modal-dialog .modal-content .modal-sending .sending-loader {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 30px 35px 35px 30px;
}

.modal .modal-dialog .modal-content .modal-sending .sending-loader .bcee-loader, .modal .modal-dialog .modal-content .modal-sending .sending-loader .loader-text {

    display: inline-block;
}

.modal .modal-dialog .modal-content .modal-sending .sending-loader .loader-text {
    color: #de0000;
    font-size: 18px;
    line-height: 40px;
    padding-right: 20px;
}

.modal .modal-dialog .modal-content .modal-sending .sending-loader .bcee-loader {
    position: relative;
    top: 12px;
}

.modal .modal-dialog.modal-md {
    width: 600px;
}

.modal .modal-dialog.modal-md .modal-body {
    padding: 30px 20px !important;
}

.modal .modal-dialog.modal-md .modal-body .modal-request {
    margin: 30px -20px;
    padding: 20px;
}

.modal .modal-information {
    width: 900px;
    margin: 80px auto 30px;
}

.modal .modal-information .modal-content {
    box-shadow: none !important;


    border: 0 !important;
    border-radius: 20px;


    background-clip: padding-box;


}

.modal .modal-information .modal-content .modal-header {
    padding: 40px 60px 0 !important;
    border: 0 !important;
    position: relative;
}

.modal .modal-information .modal-content .modal-header .close {
    position: absolute;
    right: -22px;
    top: 40px;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=(100));
    opacity: 1;
    text-shadow: none;
    transition: none;



}

.modal .modal-information .modal-content .modal-body {
    padding: 30px 60px 60px !important;
}

.modal .modal-information .modal-content .modal-footer {
    padding: 0 30px 30px !important;
    border: 0 !important;
}

.modal .modal-information .modal-content .modal-loader {
    display: none;
    padding-bottom: 60px;
}

.modal.sending .modal-dialog .modal-content .modal-footer {
    visibility: hidden;
}

.modal.sending .modal-dialog .modal-content .modal-sending {
    display: block;
}

.modal.loading .modal-body {
    display: none;
}

.modal.loading .modal-loader {
    display: block !important;
}

.modal-backdrop {
    background-color: #001f47;
}

.modal-backdrop.in {
    filter: alpha(opacity=60) !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)" !important;
    filter: alpha(opacity=(60)) !important;
    opacity: .6 !important;
}

.form-group {
    margin-bottom: 40px;
}

.form-group.small {
    margin-bottom: 20px;
}

.form-group.extra-small {
    margin-bottom: 10px;
}

.popover {
    background-color: #001f47;
    border: 0;
    padding: 0;
}

.popover.top {
    margin-bottom: 20px;
}

.popover.top .arrow {
    border-top-color: transparent !important;
}

.popover.top .arrow:after {
    border-top-color: #001f47 !important;
}

.popover.bottom {
    margin-top: 20px;
}

.popover.bottom .arrow {
    border-bottom-color: transparent !important;
}

.popover.bottom .arrow:after {
    border-bottom-color: #001f47 !important;
}

.popover.right {
    margin-left: 20px;
}

.popover.right .arrow {
    border-right-color: transparent !important;
}

.popover.right .arrow:after {
    border-right-color: #001f47 !important;
}

.popover.left {
    margin-right: 20px;
}

.popover.left .arrow {
    border-left-color: transparent !important;
}

.popover.left .arrow:after {
    border-left-color: #001f47 !important;
}

.popover .popover-title {
    background-color: #001f47;
    color: #fff;
    border: 0;
    font-size: 16px;
}

.popover .popover-content {
    color: #fff;
    border: 0;
}

/*# sourceMappingURL=styles.css.map */
